# Export data as multisheet excel files

One of my favorite Pandas' IO features is the ability to create multisheet excel files from dataframes. We'll again use the Feb. 2021 electrical loads datafile created in module 1-1 for this example. 

**Notebook goals**:
- Understand how to save several Pandas' dataframes as sheets in a single Excel spreadsheet with user-defined sheet names. 

Pandas' documentation:
https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html

In [1]:
import numpy as np
import pandas as pd

In [3]:
# read processed Feb-2021 file:
data = pd.read_excel(
    "data/ercot-subset-feb-2021.xlsx",
    index_col=[0],
    )

# get the min and max loads per day:
daily_max = data.groupby(data.index.day).max()
daily_min = data.groupby(data.index.day).min()

# display:
data.head()

                     houston_area         total
day_and_hour
2021-02-01 00:00:00   9994.165132  36054.972726
2021-02-01 01:00:00   9917.547316  35849.824448
2021-02-01 02:00:00   9937.516441  36087.231405
2021-02-01 03:00:00  10077.935922  36801.227362
2021-02-01 04:00:00  10430.960088  38346.436586

In [6]:
daily_max_info = daily_max.describe()
daily_min_info = daily_min.describe()

# display:
daily_max_info.round(2)

       houston_area     total
count         28.00     28.00
mean       12214.36  48598.45
std         1627.16   9491.44
min         9233.90  37378.24
25%        11039.28  41288.91
50%        12151.84  45750.99
75%        12881.03  54415.72
max        15692.09  69692.49

In [9]:
# excel writer object allows us to create an empty spreadsheet,
# which we can then populate with sheets of data. The sheets
# or ordered according to the order they are saved:
writer = pd.ExcelWriter("ercot-feb2021-processed-data.xlsx")

# let's first save the stat info data:
daily_max_info.to_excel(writer, sheet_name="Hou and TX daily max info")
daily_min_info.to_excel(writer, sheet_name="Hou and TX daily min info")

# then save the max and min data per day:
daily_max.to_excel(writer,sheet_name="Hou and TX daily maxes")
daily_min.to_excel(writer,sheet_name="Hou and TX daily mins")

# finally, let's preserve the source dataset:
data.to_excel(writer,sheet_name="Hou and TX hourly")

# remember to close the writer object once finished:
writer.close()